absl-py==0.9.0
astor==0.8.1
atari-py==0.2.6
attrs==19.3.0
awscli==1.18.53
-e git+https://github.com/openai/baselines.git@9ee399f5b20cd70ac0a871927a6cf043b478193f#egg=baselines
blessings==1.7
blis==0.4.1
boto==2.49.0
boto3==1.9.249
botocore==1.16.3
certifi==2019.9.11
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
colorama==0.4.3
cycler==0.10.0
cymem==2.0.2
decorator==4.4.2
deepchem==2.2.1.dev54
deeprobust==0
docutils==0.15.2
en-core-web-sm==2.2.0
enum34==1.1.6
filelock==3.0.12
Flask==1.1.1
funcy==1.13
future==0.18.2
gast==0.3.3
gensim==3.8.1
google-pasta==0.1.8
googledrivedownloader==0.4
gpustat==0.6.0
grpcio==1.26.0
gym==0.15.4
gym-retro==0.7.1
h5py==2.10.0
idna==2.8
imageio==2.8.0
importlib-metadata==0.23
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jsonlines==1.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
learn2learn==0.1.1
llvmlite==0.31.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
more-itertools==7.2.0
murmurhash==1.0.2
networkx==2.4
nltk==3.4.5
nose==1.3.7
numba==0.48.0
numexpr==2.7.0
numpy==1.16.6
nvidia-ml-py3==7.352.0
opencv-python==4.1.2.30
packaging==19.2
pandas==0.25.3
Pillow==6.2.0
plac==1.1.3
pluggy==0.13.1
plyfile==0.7.2
preshed==3.0.2
protobuf==3.10.0
psutil==5.7.0
py==1.8.0
pyasn1==0.4.8
pyfiglet==0.8.post1
pygcn==0.1
pyglet==1.3.2
pyLDAvis==2.1.2
pyparsing==2.4.5
pytest==5.3.0
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
rdflib==4.2.2
reformer-pytorch==0.16.3
regex==2020.1.8
remote-pdb==2.0.0
requests==2.22.0
rsa==3.4.2
s3transfer==0.3.3
sacremoses==0.0.38
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
sentencepiece==0.1.85
seqeval==0.0.12
six==1.12.0
sklearn==0.0
smart-open==1.9.0
spacy==2.2.2
spherecluster==0.1.7
srsly==0.2.0
stanford-openie==1.0.1
stanfordnlp==0.2.0
tensorboard==1.14.0
tensorboardX==1.9
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
texttable==1.6.2
thinc==7.3.1
tokenizers==0.6.0
torch==1.4.0+cu100
torch-geometric==1.4.3
torch-scatter==2.0.4
torch-sparse==0.6.1
torchtext==0.6.0
torchvision==0.5.0+cu100
tqdm==4.36.1
urllib3==1.25.6
wasabi==0.4.0
wcwidth==0.1.7
Werkzeug==0.16.0
wget==3.2
wrapt==1.11.2
zipp==0.6.0
